.login-region {
	position: absolute;
	top: -110px;
	right: 70px;
	width: 42px;
	height: 42px;
	z-index: 16;
	cursor: pointer;
	
	.photo {
		cursor: pointer;
		padding-top: 19px;
		display: block;
		width: 90px;
		height: 66px;
		/* background-color: red; */
		position: absolute;
		left: -17px;
		top: -16px;
		padding-left: 15px;

		& > img {
			border-radius: 50%;
			width: 36px;
			height: 36px;
		}

		&.no-user {
			cursor: default;
		}
	}

	&:hover {
		.login-menu {
			display: block;
		}

		.photo {
			background:#46c8ff;
		}
	}

	.login-menu {
		position: relative;
		top: 0;
		left: -29px;
		width: 100px;
		z-index: 11;
		padding-top: 10px;
		display: none;
		/* 控制显示隐藏 */
	}

	.triangle {
		position: absolute;
		right: -23px;
		bottom: 3px;
	}

	.tab {
		width: 100px;
		display: none;
		margin-top: 40px;
		margin-left: -22px;

		& > ul {
			background:#46c8ff;
			padding-top: 7px;
			width:125px;
			height:58px;

			& > li {
				background:#46c8ff;
				width:125px;
				height:24px;

				& > a {
					font-size: 12px;
					color: #718ac0;
					letter-spacing: 4px;
					display: block;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				& > span {
					font-size: 12px;
					color: #718ac0;
					letter-spacing: 4px;
					display: block;
					height: 24px;
					line-height: 24px;
					text-align: center;
				}

				&:hover {
					background:#143c82;
				}
			}
		}

		&.active {
			display: block;
		}
	}
}

// @media screen and (max-width: $wide-screen-width) {
// 	.login-region {
// 		right: calc(100vw - 60px);
// 		top: calc(100vh - 55px);

// 		.photo {
// 			cursor: default;
// 		}

// 		.login-menu {
// 			top: -67px;
// 			left: 63px;
// 		}
// 	}
// }